@font-face {
    font-family: titleFont;
    src: url(../fonts/KGMissKindergarten.ttf);
}

.yog {
    height: 50%;
    width: 50%
}

html, body {
    overflow-x: hidden;
}

#hov1:hover {
    background-color: #701C72;
    color: white;
}
#hov2:hover {
    background-color: #701C72;
    color: white;
}
#hov3:hover {
    background-color: #701C72;
    color: white;
}
#hov4:hover {
    background-color: #701C72;
    color: white;
}
#hov5:hover {
    background-color: #701C72;
    color: white;
}
#hov6:hover {
    background-color: #701C72;
    color: white;
}
#hov7:hover {
    background-color: #701C72;
    color: white;
}
#hov8:hover {
    background-color: #701C72;
    color: white;
}
